#title
    {
    font-size: 32px;
    text-align: center;
    background-color: green;
    text-shadow:;
    }
#header1
    {
    text-align: center;
    }
.d1{
    text-shadow:5px 2px 6px #000;text-align: center;
    }
#button
    {
    width: 100px;height:40px;background-color: #4169E1;
    }
    h1{
      font-size: 18px;  
    }
.table{
   
    }
